body {
  /* ;#1e1e1e; */
  background-color: #1e1e1e;
  color:  rgba(255, 255, 255, 0.5);
  position: relative;
}

.row {
	overflow-x: hidden; /* avoid x overflow on all devices and pages */
}

footer {
   margin-top: 1em;
   padding-top: 1em;
   /* background-color: #C7C7C7; */
   /* background-color: #333333; */
   background-color: #3c4043;
   /* background-color: #252526; */
}

.h-card {
  width: 500px;
  margin-left: 0.3em;
}


.u-photo{
  float: left;
  margin: 0.2em;
  width: 68px;
}

.form-control {
  background-color: rgb(44, 44, 43);
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}
.dropdown-menu, .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
  background-color: #343a40; 
  overflow: hidden;
}

.dropdown-item:hover {
  color: white;
  background-color: rgb(104, 104, 103);
  height: 100%;
}
.form-control:focus {
  color: black;
  background-color: rgb(104, 104, 103);
}

.btn{
  color: #6c757d;
  background-color:  rgb(44, 44, 43);
  width: 100px;
}

.btn:hover{
  color: black;
  background-color: rgb(104, 104, 103);
}

a.nav-link:hover {
  cursor: pointer;
}

#second_navbar {
  height: 4em;
  background-color: #333333;
  /* background-color: #3c4043 !important; */
  /* box-shadow: 0 -5px 5px -5px #252526;
  box-shadow: 0 5px 5px -5px #333333; */
}

input, button {
  background-color:  rgb(44, 44, 43);
  border: 0;
  margin: 0;
  padding: 0.4em;
  color: rgba(255, 255, 255, 0.5);
}

input[type="submit"], button{
  margin-left: -5px;
}

nav input[type="text"]:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

button:hover, input[type="text"]:focus, input[type="submit"]:hover, .custom-file-upload:hover {
  color: black;
  background-color: rgb(104, 104, 103);
  outline: none;
}

.hide {
  display: none;
}

.waiting{
  content:url(../img/waiting.gif);
  width:10%;
  margin: 0 auto;
}

button#description {
  width: 100%;
  border: none;
}

pre {
  color: white;
}


figure img {
  width: 100%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  background-color: rgb(44, 44, 43);
  margin-top: 0.3rem;
}


button[type="button"]{
  border: none;
  padding: 0.1em;
}



.modal-content {
  color: #6c757d;
  background-color: rgba(22, 22, 22, 0.9);
}

.modal form {
  width: 100%;
}

