<footer>
		
		<div class="container">
			<p class="text-left">
				All images are copyright to their owners. 
				<span class="pull-right">&copy; 2020 Copyright Openhealth.care</span>
			</p>
		</div>

	</footer>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap-4.3.1-dist/bootstrap.js"></script>


</body>

</html>